* {
    font-family: Helvetica;
}

body {
    /* padding: 0; */
    margin: 0;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
  
li.left {
    float: left;
}

li.right {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
  
li a:hover:not(.active) {
    background-color: rgb(26, 25, 25);
}
  
h1 {
    text-align: center;
}

.presentacion {
    padding-left: 35%;
    padding-right: 35%;
    font-style: italic;
    text-align: center;
}

.container {
    padding: 0% 2% 0% 2%;
    text-align: justify;
}

.subtitle {
    font-size: 105%;
    font-weight: bolder;
    color: rgb(24, 22, 22);
}

.about__paragraph {
    color:rgb(0, 0, 0);
    font-weight: normal;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    text-align: center;
    width: 180px;
    margin-left: auto;
  margin-right: auto;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}